.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div#video-container {
  padding-bottom: 60px;
  padding-top: 60px;
}

div.peak-container {
  display: flex;
  width: 80%;
  height: 200px;
  margin-top: 50px;
  flex-direction: column;
  #waveform-container, .waveform, .zoom-container {
    width: 100%;
    height: 100%;
  }
}